.wrapHeader{
    display: flex;
}
.image{
    padding-bottom: 33%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-Y: center;
}
.wrapAbout{
    background-color: #f1f1f1;
    padding: 2.5rem!important;
    display: flex;
    
}
.about{
    display: block;
    margin: auto 0;
}
.wrapEventMember, .wrapEventLocation{
    display: flex;
     align-items: center;
     column-gap: 10px;
     margin: 5px 0;
}
.wrapCtgOfEvent{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.eventCtgName{
    color: #ED421C;
    font-size: 18px;
    font-weight: 600;
}
.eventName{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    margin-top: 5px;
    line-height: 1.6;
    font-weight: 600;
}
.imgCtgOfEvent{
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #a0a0a0;
    border-radius: 30px;
}
.wrapActions{
    display: flex;
    margin: 0 -15px 0 -15px;
    padding: 8px 0;
    justify-content: space-between;
    border-top: 0.5px solid #bebebe;
    border-bottom: 0.5px solid #bebebe;
}
.wrapBtnJoin{
    width: 33.33%;
}
.btnJoin{
    padding: 8px !important;
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem!important;
    font-weight: 600;
}
.wrapOptionEvent{
    display: flex;
}
.iconOptionEvent{
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin:  0 8px;
}
.iconOptionEvent:hover{
    background-color: #d8d8d8;
}
.wrapParticipant{
    padding: 20px;
}
.wrapDesciption{
    padding: 20px;
}
.desciption{
    padding-right: 20px;
}
.titleDesciption,.titleParticipants{
    font-size: 1.5rem;
    font-weight: 600;
}