.header{
    position: relative;
    padding-top: 10px;
}
.logo-header{
    width: 150px;
    padding: 7%;
    /* background-color: blueviolet; */
}

.search-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    margin-left: 3%;
    width: 80%;
    font-weight: 600;
    font-size: 13px;
    color: rgb(210, 207, 207);
    letter-spacing: 1px;
    background-color: rgb(237, 237, 237);
    display: inline-block;
    border-radius: 10px;
}

.search-icon{
    width: 17px;
    margin-right: 30px;
}

.header-nav{
    list-style-type: none;
    display: flex;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
 }

.item{
    margin-right: 20px;
    margin-left:  0px;
}

.create-event a{
    color: rgba(0, 0, 255, 0.687) !important;
}

.item a{
    color: black;
    text-justify: auto;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

.item a:hover{
    text-decoration: none;
    background-color: rgb(232, 232, 232);
}

/* search box */
.search-box{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 1000;
    /* display: none; */
}

.search-box-icon{
    width: 35px;
}

.search-input-text{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1% 1% 1% 1%;
    border-color: rgb(222, 224, 227);
    border-width: 5px;
}
.search-input-text:placeholder-shown{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-input-text:focus{
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(53, 53, 237);
}
 .suggest{
    padding-left: 24px;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(220, 220, 220);
 }

 .suggest-list{
    list-style: none;
    margin-left:0px;
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
 }

 .suggest-list .suggest-item a{
     color: gray;
     font-size: 50px;
     font-weight: 700;
    letter-spacing: 2px;
    text-overflow: clip;
 }

 .suggest-list .suggest-item a:hover{
     text-decoration: none;
     color: rgb(64, 64, 230);
 }

 /* responsive */
 ul .mobile{
    display: none;
}
@media screen and (max-width: 800px) {
    ul .web, .search-nav{
        display: none;
    }

    ul .mobile{
        display: inline-block;
    }
    .logo-header{
        width: 300px;
    }
    .search-box{
        width: 100vh;
    }

    .dropdown-menu .create-event{
        color: rgb(64, 64, 230); 
    }

    .search-box{
        width: auto;
    }

    .search-input-text{
        width: 70%;
    }
    .suggest{
        padding-top: 20px;
    }

}

