.siteFooter{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.siteFooter hr{
  border-top-color:#bbb;
  opacity:0.5
}
.siteFooter hr.small{
  margin:20px 0
}
.siteFooter h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.siteFooter a{
  color:#737373;
}
.siteFooter a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footerLinks{
  padding-left:0;
  list-style:none
}
.footerLinks li{
  display:block
}
.footerLinks a{
  color:#737373
}
.footerLinks a:active,.footerLinks a:focus,.footerLinks a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footerLinks.inline li{
  display:inline-block
}

@media (max-width:991px){
  .siteFooter [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .siteFooter
  {
    padding-bottom:0
  }
  .siteFooter .copyright-text
  {
    text-align:center
  }
}
.EffectLink {
  text-align: center;
}
.EffectLink li {
  display: inline-block;
  margin-right: 15px;
  list-style: circle;
  list-style-type: circle;
}
.EffectLink a {
  list-style-type: circle;
  font-family:Arial;
  color: rgb(255, 255, 255);
}

