.imgEvent{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.wrapImageEvent{
    display: flex;
    position: relative;
    height: 0;
    padding-bottom: 60%;
  
}
.wrapButtonFavorite{
    cursor: pointer;
    position: absolute;
    bottom: -18px;
    right: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #fff;
}
.wrapButtonFavorite:hover{
    background-color: #ff9999;
}
.imgCtgOfEvent{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #ED421C;
    border-radius: 30px;
}
.wrapEventInfo{
    margin: 10px 0;
    padding: 15px;
    height: 160px;
}
.wrapEventMember, .wrapEventLocation{
 display: flex;
  align-items: center;
  column-gap: 10px;
}
.wrapCtgOfEvent{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.eventCtgName{
    color: #ED421C;
    font-size: 18px;
    font-weight: 500;
}
.eventName{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    margin-top: 5px;
}
.itemEvent{
    border: 0.5px solid #e8e8e8;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;
}
.wrapItemEvent{
    padding: 15px;
}
.itemEvent:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.listCategory{
    display: flex;
    height: 45px;
    padding-left: 0px;
}
.categoryItem{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px;
    list-style: none;
    cursor: pointer;
}
.categoryName{
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: #424242;
}
.wrapListCategory{
    margin: 0 -15px;
}
.categoryItem:hover{
    border-bottom: 2px solid #000;
}
.wrapBtnSeeMore{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.btnSeeMore{
    border: 1px solid #424242;
    border-radius: 3px;
    padding: 8px 50px;
    font-weight: 600;
}
.btnSeeMore:hover{
    background-color: aliceblue;
}
.hrCustom{
    margin: 30px 0;
    height: 3px;
    background-color: #7a7979;
}
.titleResultEvent{
    color: #ED421C;
}
@media screen and (min-width: 992px) {
    .wrapContainerSearchEvent{
        margin: 20px 70px!important;
        width: auto!important;
    }
}

